@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope';
  font-family: normal;
  font-weight: 400;
  src: url('/fonts/Manrope.woff2');
}

h1 {
  @apply text-4xl lg:text-5xl xl:text-6xl
}

body {
  @apply bg-white dark:bg-black
}